---
import editorBootstrapperUrl from "@@/editor/dist/assets/index.js?url";
import { Store } from "@tomic/react";

const NAMESPACE = "archy-collab";
const pagePath = Astro.params.path || "";
const domain = Astro.url.searchParams.get("host");

const fullHost = pagePath ? `${domain}/${pagePath}` : domain;

const store = new Store({
  serverUrl: "https://atomicdata.dev",
});

const resource = await store.fetchResourceFromServer(
  `https://atomicdata.dev/${NAMESPACE}/${fullHost}`
);

const spaceAvailableHtml = `
  <!DOCTYPE>
  <html>
    <head>
      <title>Space available</title>
    </head>
    <body>
      <div>This space is available.</div>
      <div>Click the screen 5 times to open the editor, or the button below</div>
      <button onClick="openEditor()">Claim and create page on this address</button>
    </body>
  </html>`;

const htmlDocument =
  (resource.get("https://atomicdata.dev/property/html-document") as string) ||
  spaceAvailableHtml;

const editorScript = `<script type="module" src="${editorBootstrapperUrl}" astroPath="${fullHost}"></script>`;

function injectEditorScriptToHtml(html: string) {
  // We could parse the document, but we don't need yet.
  const bodyEnd = html.lastIndexOf("</body>");
  if (bodyEnd !== -1) {
    return html.slice(0, bodyEnd) + editorScript + html.slice(bodyEnd);
  } else {
    return html + editorScript;
  }
}
---

<Fragment set:html={injectEditorScriptToHtml(htmlDocument)} />
