---
import "../base.css";
import fs from 'node:fs';
// import { pwaInfo } from 'virtual:pwa-info';

export interface Props {
  title: string;
}

const { title } = Astro.props;

const siteMatch = Astro.request.url.match(/sites\/([^\/]+)/);
const siteName = siteMatch && siteMatch[1];

function getFavicon () {
  if (siteName) {
    if (fs.existsSync(`./src/pages/sites/${siteName}/favicon.svg`)) {
      return `/src/pages/sites/${siteName}/favicon.svg`;
    }
  }
  
  return '/favicon.svg';
}


---

<!DOCTYPE html>
<html lang="en" class="bg-gray-100 font-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={getFavicon()} />
    <!-- <link rel="apple-touch-icon" href="/pwa-192x192.png"> -->
    <!-- <link rel="mask-icon" href={getFavicon()} color="#FFFFFF"> -->
    <!-- <meta name="msapplication-TileColor" content="#FFFFFF"> -->
    <!-- <meta name="theme-color" content="#ffffff"> -->
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={title}>

    <!-- <script src="/src/pwa.ts"></script> -->
    { /* pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> */}
  </head>
  <body class="h-screen">
    <div id="app-root" class="h-screen">
      <slot />
    </div>
    <div id="modal-root"></div>
  </body>
</html>

<style is:global></style>
